.cabBooking {
    width: 100%;
    height: 100%;
    padding: 4rem;
    background-image: url("https://ucarecdn.com/396014c9-34fa-4139-b5c2-511a8037df00/-/preview/1000x571/");
    background-size: cover;
}