.footer {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: rgb(236, 236, 236);
    gap: 2rem;
    border-top: 0.5px rgb(85, 255, 153) solid;
    height: 75vh;
}

.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-div-div-1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 20rem;
}

.footer-div-div-1 #logo {
    width: 9rem;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgb(188, 188, 188);
}

.footer-div-div-1-div {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.footer-div-div-1 p {
    font-size: 16px;
    line-height: 24px;
    color: rgb(119, 119, 119);
}

.footer-div-div-1-div img {
    width: 9rem;
}

.footer-div-div-2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 10rem;
}

.footer-div-div-3 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 12rem;
}

.footer-div-div-2 p {
    font-size: 14px;
    color: rgb(169, 169, 169);
}

.footer-div-div-3 p {
    font-size: 14px;
    color: rgb(168, 168, 168);
}

.footer-div-div-2 a {
    font-size: 16px;
    color: rgb(83, 83, 83);
    letter-spacing: 0.5px;
    line-height: 20px;
}

.footer-div-div-3 a {
    font-size: 16px;
    color: rgb(83, 83, 83);
    letter-spacing: 0.5px;
    line-height: 20px;
}

.footer-div-div-2 a:hover {
    color: rgb(0, 0, 0);
}

.footer-div-div-3 a:hover {
    color: rgb(0, 0, 0);
}

hr {
    height: 0.5px;
    width: 100%;
    background-color: rgb(0, 167, 103);
}

#copyright {
    font-size: 16px;
}